<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>

    <application>
        <!-- Firebase Cloud Messaging Service -->
        <service
            android:name=".notification.service.CoreFirebaseMessagingService"
            android:exported="true"
            android:directBootAware="true"
            android:stopWithTask="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
    </application>

</manifest>

